{% extends "header.html" %}

{% block title %}
Confirm Order
{% endblock%}

{% block head %}

{# make static folder available for use #}
{% load staticfiles %}


{% endblock %}



{% block body %}


<!-- prefs heading row -->
<div class="row">
	<div class="col">
		<h3>Order Confirmation</h3>
		<p>Please confirm that everything in your order looks correct. </p>
	</div>
</div>

<hr />

<div class="row">
	<div class="col">
		<div class="alert alert-secondary">
			<h6>The following <strong>shipping information</strong> will be sent with your order:</h6>
			<p>{{shippinglabel | safe}}</p>
			<p><a class="btn btn-primary role="button" href="{%url 'profiles:edit' %}">Edit</a></p>
		</div>
		<h5>Items in your order:</h5>
	</div>
</div>

<div class="row">

	{% if itemcount > 0 %}

	<table class="table">
		{% for itemization in itemizations %}
			 <tr>
			 	<td style="width:1%">
					{% if itemization.item.image%}
						<div class=" text-left">
							<img src="/media/{{itemization.item.image}}" class="img-fluid img-thumbnail thumb-pic">
						</div>
					{% endif %}
				</td>
				<td>
					<h5>{{itemization.item.name}}</h5>
					<p>
						{% if itemization.item.number %}
							PID: {{itemization.item.number}} <br/>
						{% endif %}
						Quantity: {{itemization.quantity}}
					</p>

				{% if itemization.properties.items %}

					<strong>Options:</strong>
					<table class="table-borderless">
						{% for property, option in itemization.properties.items %}
							<tr>
								<td style="padding-left:0; padding-top:0; padding-bottom:0">{{property}}:</td>
								<td style="padding-top:0; padding-bottom:0">{{option}}</td>
							</tr>
						{% endfor %}
					</table>

				{% endif %}

				</td>

				<td class="text-right">
					<form>
						{% csrf_token %}
						{{itemization.del_form}}
						<button
							title="Remove from order" 
							type="submit" name="submit" 
							class="btn btn-danger del_item_js_tag btn-sm">
								<i class="fas fa-trash"></i>
						</button>
					</form>
				</td>
			 </tr>

		{% endfor %}

	</table>
</div>

<div class="row">
	<div class="col text-right">
		<a class="btn btn-success role="button" href="{%url 'cemex:new_order' %}">Go Back</a>

		<a class="btn btn-primary role="button" href="{% url 'cemex:place_order' %}">Place Order</a>

	</div>
</div>


	{% else %}
		<div class="col col-md-2">
			</br></br></br>
			<p> You don't have any items in your order cart.</p>
			<p>
				<a class="btn btn-success role="button" href="{%url 'cemex:new_order' %}">
					<i class="fas fa-plus-circle"></i> New Order
				</a>
			</p>
			</br></br></br>
		</div>
	{% endif %}


<!-- empty spacer row -->
<div class="row spacer-row"></div>

<script src=" {% static '/cemex/js/js_confirm_order.js' %} "></script>

{% endblock %}