
<html>
	<head>

		<style>
			td
			{
			    border: 1px dotted gray;
			    padding: 5px;
			}

			table
			{
			  border: 1px solid black;
			  border-collapse:collapse;
			  width: 60%;
			}
	</style>

	</head>

	<body>

		<div>
			<h1>New Cemex Order</h1>
			<p>The details of this order are listed below.</p>
		</div>
		<hr />



		<table>
			<tr>
				<td style="width:20%"><b>Order ID</b></td> 
				<td colspan="2">{{id}}</td>
			</tr>
			<tr>
				<td style="width:20%"><b>Order Date</b></td> 
				<td colspan="2">{{date}}</td>
			</tr>
			<tr></tr>
			<tr>
				<td style="width:20%"><b>Cust Name</b></td> 
				<td colspan="2">{{first_name}} {{last_name}}</td>
			</tr>

			<tr>
				<td style="width:20%"><b>Shipping Address</b></td> 
				<td colspan="2">{{shippinglabel | safe}}</td>
			</tr>

			<tr></tr>

			 <tr>
				<td>
					<b>PID</b>
				</td>
				<td>
					<b>NAME</b>
				</td>
				<td style="width:10%">
					<b>QTY</b>
				</td>
			</tr>

		{% for itemization in itemizations %}
			 <tr>
				<td>
					{{itemization.item.number}}
				</td>
				<td>
					{{itemization.item.name}}
				</td>
				<td>
					{{itemization.quantity}}
				</td>
			</tr>

			{% for property, option in itemization.properties.items %}

			<tr>
				<td></td>
				<td>{{property}}: {{option}}</td>
				<td></td>
			</tr>
			
			{% endfor %}
			<tr></tr>

		{% endfor %}

		</table>

	<p>To mark this order as shipped, click the link below. The customer will be notified via email and their orders page updated.</p>

	http://127.0.0.1:8000{% url 'cemex:ship_order' linkhash %}

	</body>
</html>