{% extends "header.html" %}

{% block title %}
My Orders
{% endblock%}

{% block head %}

{# make static folder available for use #}
{% load staticfiles %}


{% endblock %}



{% block body %}

<div class="row">
	<div class="col">

		<h3>
			{% now "H" as hour %}

			{% if hour >= "16" %}
				<i style="color:teal"class="fas fa-moon"></i> Good Evening,
			{% elif hour >= "12" %}
				<i style="color:orange" class="fas fa-sun"></i> Good Afternoon,
			{% elif hour >= "0" %}
				<i style="color:tan" class="fas fa-coffee"></i> Good Morning,
			{% endif %}
			{{user.first_name}}.
		</h3>
		<p class=small>{% now "l, F j, o g:i A" %}</p>



		<br /><br />
		<h4>My Orders</h4>
		<p>Your recent orders are listed below.</p>
		<p><a class="btn btn-success float-left role="button" href="{%url 'cemex:new_order' %}"><i class="fas fa-plus-circle"></i> New Order</a></p>
	</div>
</div>

<!-- empty spacer row -->
<div class="row spacer-row"></div>

<div class="row">
	<div class="col-md-8">
	
			{% if orders.count > 0 %}

			<table class="table table-sm table-striped table-bordered">

			  <thead>
			    <tr>
			      <th scope="col">ID</th>
			      <th scope="col">Date</th>
			      <th class="text-center" scope="col">Status</th>
			      <th class="text-center" scope="col">Details</th>
			    </tr>
			  </thead>

				{% for order in orders %}
					{% if order.shipped %}
						<tr>
					{% else %}
						<tr>
					{% endif %}
						<td>
							{{order.id}}
						</td>
						<td>
							{{order.datetime.date | date:"m/d/Y"}} <span class="text-muted">{{order.datetime.time}}</span>
						</td>
						<td class="text-center">
							{% if order.shipped %}
							<span data-toggle="tooltip" 
											data-placement="right"
											data-delay-show="500"
							 				title="This order has been shipped. It should arrive soon!" 
							 				style="color:green">
							 	<strong>Shipped</strong>
							 </span>
							{% else %}
							<span data-toggle="tooltip" 
											data-placement="right"
											data-delay-show="500"
							 				title="This order is currently being processed by our staff." 
							 				>
							 	Processing
							 </span>
							{% endif %}
						</td>						
						<td class="text-center">
							<p><a class="btn btn-secondary btn-sm role="button" href="{%url 'cemex:review_order' order.id %}"><i class="fas fa-search"></i></a></p>
						</td>
					 </tr>
				{% endfor %}
			</table>

			{% else %}
				<div class="col text-center">
					</br></br></br>
					<p> You haven't placed any orders yet.</p>
					<p>Place an order now: <a href="{%url 'cemex:new_order' %}">New Order</a>.</p>
					</br></br></br>
				</div>
			{% endif %}
	</div>



	<div class="col-lg-4">
		<div class="jumbotron">
			<h4>Profile</h4>
			<p>Your profile is included as shipping information on new orders.</p>
			<p><strong>Please ensure it looks correct:</strong></p>
			<hr />
			{{shippinglabel | safe}}</br>
			<a class="btn btn-primary float-left role="button" href="{%url 'profiles:edit' %}">Edit</a></br>
		</div>
	</div>

</div>


<!-- empty spacer row -->
<div class="row spacer-row"></div>

{% endblock %}