{% extends "header.html" %}

{% block title %}
Orders
{% endblock%}

{% block head %}

{# make static folder available for use #}
{% load staticfiles %}


{% endblock %}



{% block body %}
{% load crispy_forms_tags %}

<!-- prefs heading row -->
<div class="row">
	<div class="col">
		<h3>New Order</h3>
		<p>Order Cemex Products Here.</p>
	</div>	
</div>
<hr />
		{% for form in forms %}
			<div class="row justify-content-center">
				<div class="col-md-8">
		
				{% if form.image %}
				<div class="text-center">
				<p><img src="{{form.image}}" alt="image here" class="img-fluid img-thumbnail shrunk-pic"></p>
				</div>
				{% endif %}

				<h5>{{form.name}}</h5>
				<p>{{form.desc}}</p>

					
						<form action='' method='POST'>
							{% crispy form %}
							<div class="form-row" id='user_controls'>
								<div class="col-xs-4" id='add_btn'>
									<button type="submit" name="submit_item_{{form.id}}" class="btn btn-success add_item_js_tag"><i class="fas fa-plus-circle"></i> Add item</button>
								</div>
								<div class="col" id='success_col'>
									<div class="success_msg" style="margin-top: .5em" id='success_msg'>Success!</div>
								</div>
							</div>
						</form>
					
	
				
				
				</div>
			</div>
			<hr />
			{% endfor %}



<nav class="navbar fixed-bottom navbar-light bg-light justify-content-end">
	<div class="marginfix">
		Add your items above. Click to continue:  
		<a class="btn btn-primary" role="button" href="{%url 'cemex:confirm_order' %}">Review Order <span class="badge badge-light"><span id="item_count">{{itemcount}}</span><span> item(s)</span></a>
	</div>
</nav>
<!-- empty spacer row -->
<div class="row spacer-row"></div>

<div id="item_count"></div>

<script src=" {% static '/cemex/js/js_new_order.js' %} "></script>

{% endblock %}