{% extends "header.html" %}

{% block title %}
Review Order
{% endblock%}

{% block head %}

{# make static folder available for use #}
{% load staticfiles %}


{% endblock %}



{% block body %}


<!-- prefs heading row -->
<div class="row">
	<div class="col">
		<h3>Review Order</h3>
		<p>The details of this order are listed below.</p>
	</div>
</div>
<hr />

<div class="row">
	<div class="col"> 
		<table cellpadding="5">
			<tr>
				<td>Placed by:</td> 
				<td>{{order.user.first_name}} {{order.user.last_name}}</td>
			</tr>
			<tr>
				<td>Date:</td>
				<td>
					{{order.datetime.date | date:"m/d/Y"}}
					{{order.datetime.time}}
				</td>
			</tr>
			<tr>
				<td>Products:</td>
				<td>{{order.order_item_set.count}}</td>	
			</tr>
			<tr>
				<td>Total Quantity:</td>
				<td>{{totalqty}}</td>	
			</tr>
		</table>
	</div>
</div>

<div class="row">
	<table class="table">
		{% for itemization in itemizations %}
			 <tr>
			 	<td style="width:1%">
					{% if itemization.item.image%}
						<div class=" text-left">
							<img src="/media/{{itemization.item.image}}" class="img-fluid img-thumbnail thumb-pic">
						</div>
					{% endif %}
				</td>
				<td>
					<h5>{{itemization.item.name}}</h5>
					<p>
						PID: {{itemization.item.number}} <br/>
						Quantity: {{itemization.quantity}}
					</p>

				{% if itemization.properties.items %}

					<strong>Options:</strong>
					<table class="table-borderless">
						{% for property, option in itemization.properties.items %}
							<tr>
								<td style="padding-left:0; padding-top:0; padding-bottom:0">{{property}}:</td>
								<td style="padding-top:0; padding-bottom:0">{{option}}</td>
							</tr>
						{% endfor %}
					</table>

				{% endif %}

				</td>
			 </tr>

		{% endfor %}

	</table>
</div>

<hr />

<div class="row">
	<div class="col text-left">
		<p><a class="btn btn-success float-left role="button" href="{%url 'cemex:my_orders' %}">Go Back</a></p>
	</div>
</div>

<!-- empty spacer row -->
<div class="row spacer-row"></div>

{% endblock %}