{% extends "header.html" %}

{% block title %}
Edit Profile
{% endblock%}

{% block head %}

{# make static folder available for use #}
{% load staticfiles %}


{% endblock %}



{% block body %}

{% load crispy_forms_tags %}

<!-- prefs heading row -->
<div class="row">
	<div class="col  offset-md-3 col-md-6">
		<h3>Edit Profile</h3>
		<p>Edit your account profile here.</br>This information will be included with your orders as shipping information.</p>
		<hr />
		<form method="post" action="">
			{% crispy user_form %}
			{% crispy profile_form %}
		</form>
	</div>
</div>


<div class="row">
	<div class="col  offset-md-3 col-md-6y">
		<p><a href="{% url 'profiles:change_password' %}">Change Password</a></p>
	</div>
</div>

<!-- empty spacer row -->
<div class="row spacer-row"></div>

{% endblock %}