{% extends "header.html" %}

{% block title %}
Edit Profile
{% endblock%}

{% block head %}

{# make static folder available for use #}
{% load staticfiles %}


{% endblock %}



{% block body %}

{% load crispy_forms_tags %}

<!-- prefs heading row -->
<div class="row">
	<div class="col col-md-6 offset-md-3 text-left">
		<h3>Edit Profile</h3>
		<p>Edit your account profile here.</br>This information will be included with your orders as shipping information.</p>
		<hr />


		<form method="post" action="">
			{% crispy user_form %}
			{% crispy profile_form %}
		</form>
	</div>




	<div class="col col-md-6 offset-md-3 text-left">
		<p>Change Password</p>
		<p><a href="{% url 'profiles:change_password' %}">Click here to change your account password</a>.</p>
	</div>

</div>

<!-- empty spacer row -->
<div class="row spacer-row"></div>

{% endblock %}