{% extends "header.html" %}

{% block title %}
Reset Password
{% endblock%}

{% block head %}

{# make static folder available for use #}
{% load staticfiles %}


{% endblock %}


{% block body %}


{% load crispy_forms_tags %}


<!-- prefs heading row -->
<div class="row">
	<div class="col col-md-6 offset-md-3 text-left">
		<h3>Reset Password</h3>
		<p>To reset your account password, please provide the email address linked to your account
		. You will need to check your email for instructions to reset your password.</p>
		<hr />
		
		
		<form method="post" action="">
			{% csrf_token %}
			{{ form | crispy }}
			<button class="btn btn-primary" type="submit">Send Email</button>
		</form>
		
		
	</div>
</div>

<!-- empty spacer row -->
<div class="row spacer-row"></div>

{% endblock %}