
<html>
	<head>
	</head>

	<body>

<h3>Hi {{user.first_name}},</h3>

<p>It looks like you've requested to reset your Cemex Order Portal password. If you did not intend
to do this, disregard this email.</p>

<p> 
To initiate the password reset process for username <b>{{ user.get_username }}</b>,
follow the link below:</p> 

<p> 
{{ protocol }}://{{ domain }}{% url 'profiles:password_reset_confirm' uidb64=uid token=token %}
</p> 


<p> 
If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.
</p> 

<p> 
Sincerely,
</p> 
<p> 
Cemex Order Portal
</p> 
	</body>
</html>
